body {
  display: flex;
  flex-direction: column;
  @apply bg-gray-950 p-2;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  @apply text-gray-900 text-xl bg-white w-fit p-2 rounded-md pointer-events-none select-none gap-2;
}

.app-header .header-icon {
  @apply text-white text-3xl bg-blue-600 p-1 rounded-md;
}
